# dev
.idea
/lovely/

# === MODS ===
/MikasBalatro/
/BadAppleBalatro/
/Balatro-Preview/
/CardBackInjection/
/Balatro_CollectionFix/
/BlindCollectionPatch/
/MystJokers/
/MystBlinds/
/Better-Mouse-And-Gamepad/
/GreenSeal/
/JankJonklers/
/JellyMod/
/Jimbos-Histories/
/LushMod/
/MoreFluff/
/multi-jokers/
/5_legendary_challenges/
/Betmma_Jokers/
/SilverSeal/
/Steamo/
/Balatro---Themed-Jokers/
/FederAPI-Balatro/
/SylvieSilly/
# === MODS ===